In [59]:
file = "modern_arts.csv"

In [60]:
import pandas as pd

In [61]:
arts = pd.read_csv(file)

In [62]:
arts.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography

In [63]:
arts["Gender"]

0        (Female)
1          (Male)
2          (Male)
3          (Male)
4          (Male)
           ...
16720      (Male)
16721      (Male)
16722      (Male)
16723          ()
16724      (Male)
Name: Gender, Length: 16725, dtype: object

In [64]:
arts["Gender"].str.replace("(","").str.replace(")","")

C:\Users\rohai\AppData\Local\Temp\ipykernel_35868\1182341301.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  arts["Gender"].str.replace("(","").str.replace(")","")

0        Female
1          Male
2          Male
3          Male
4          Male
          ...
16720      Male
16721      Male
16722      Male
16723
16724      Male
Name: Gender, Length: 16725, dtype: object

In [65]:
arts["Gender"] = arts["Gender"].str.replace("(","").str.replace(")","")

C:\Users\rohai\AppData\Local\Temp\ipykernel_35868\2562825621.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  arts["Gender"] = arts["Gender"].str.replace("(","").str.replace(")","")

In [66]:
arts["Gender"].unique()

array(['Female', 'Male', '', 'male'], dtype=object)

In [67]:
arts["Gender"].str.title()

0        Female
1          Male
2          Male
3          Male
4          Male
          ...
16720      Male
16721      Male
16722      Male
16723
16724      Male
Name: Gender, Length: 16725, dtype: object

In [68]:
arts["Gender"] = arts["Gender"].str.title()

In [69]:
arts.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),Female,1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),Male,1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),Male,1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),Male,1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),Male,1903,Photography

In [70]:
arts["Gender"].unique()

array(['Female', 'Male', ''], dtype=object)

In [71]:
bol = arts["Gender"] == ''

In [72]:
bol

0        False
1        False
2        False
3        False
4        False
         ...
16720    False
16721    False
16722    False
16723     True
16724    False
Name: Gender, Length: 16725, dtype: bool

In [73]:
bol.sum()

791

In [74]:
arts[bol] #boolean indexing

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
31,Untitled,Unknown,(),NaN,NaN,,c. 1925,Photography
90,Bar Tools,Studio Opi,(Italian),(1955),NaN,,1969,Architecture & Design
137,Nations,Slavs and Tatars,(),(2005),NaN,,2007,Prints & Illustrated Books
177,El Frente Popular de Madrid Al Frente Popular ...,J. Briones,(Spanish),NaN,NaN,,1936-1937,Architecture & Design
185,Untitled,Unknown,(),NaN,NaN,,1923-1951,Photography
...,...,...,...,...,...,...,...,...
16664,Untitled,Unknown,(),NaN,NaN,,c. 1960,Photography
16670,Inflatable Armchair,Quasar (Nguyen Manh Khanh),(Vietnamese),(1934),NaN,,1967-1968,Architecture & Design
16688,Poster of the French National Railroad,Album-miscellaneous,(Various),NaN,NaN,,1900-1943,Architecture & Design
16702,Salon de la Plume,Unknown,(Nationality Unknown),NaN,NaN,,1880-1910,Architecture & Design
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,(),NaN,NaN,,1931,Prints & Illustrated Books

In [75]:
arts.loc[bol,"Gender"] = "Gender Unknown"

In [76]:
arts["Gender"].unique()

array(['Female', 'Male', 'Gender Unknown'], dtype=object)

In [77]:
arts

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),Female,1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),Male,1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),Male,1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),Male,1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),Male,1903,Photography
...,...,...,...,...,...,...,...,...
16720,Oval with Points,Henry Moore,(British),(1898),(1986),Male,1968-1969,Painting & Sculpture
16721,"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,(Chilean),(1942),NaN,Male,1975,Architecture & Design
16722,The Catboat,Edward Hopper,(American),(1882),(1967),Male,1922,Prints & Illustrated Books
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,(),NaN,NaN,Gender Unknown,1931,Prints & Illustrated Books
16724,Plate (page 11) from The Dive,Alex Katz,(American),(1927),NaN,Male,2011,Prints & Illustrated Books

In [78]:
arts["Nationality"]

0        (American)
1         (Spanish)
2          (French)
3          (French)
4          (French)
            ...
16720     (British)
16721     (Chilean)
16722    (American)
16723            ()
16724    (American)
Name: Nationality, Length: 16725, dtype: object

In [79]:
arts["Nationality"] = arts["Nationality"].str.replace("(","").str.replace(")","")

C:\Users\rohai\AppData\Local\Temp\ipykernel_35868\3160135327.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  arts["Nationality"] = arts["Nationality"].str.replace("(","").str.replace(")","")

In [80]:
arts["Nationality"]

0        American
1         Spanish
2          French
3          French
4          French
           ...
16720     British
16721     Chilean
16722    American
16723
16724    American
Name: Nationality, Length: 16725, dtype: object

In [81]:
arts["Nationality"].unique()

array(['American', 'Spanish', 'French', 'South African', 'Canadian',
       'Czech', 'Belgian', 'Russian', 'British', 'German', '', 'Swiss',
       'Polish', 'Japanese', 'Portuguese', 'Austrian', 'Australian',
       'Italian', 'Chilean', 'Colombian', 'Mexican', 'Brazilian', 'Dutch',
       'Romanian', 'Venezuelan', 'Korean', 'Israeli', 'Argentine',
       'Indian', 'Nationality unknown', 'Swedish', 'Yugoslav', 'Cuban',
       'Nationality Unknown', 'Various', 'Luxembourgish', 'Croatian',
       'Bulgarian', 'Hungarian', 'Georgian', 'Puerto Rican', 'Danish',
       'Serbian', 'Pakistani', 'Ecuadorian', 'Chinese', 'Iranian',
       'Finnish', 'Lebanese', 'Thai', 'Cambodian', 'Scottish', 'Kenyan',
       'Latvian', 'Sudanese', 'Uruguayan', 'Peruvian', 'New Zealander',
       'Moroccan', 'Guatemalan', 'Cameroonian', 'Egyptian', 'Nigerian',
       'Icelandic', 'Haitian', 'Tajik', 'Irish', 'Norwegian',
       'Costa Rican', 'Slovenian', 'Turkish', 'Mozambican', 'Palestinian',
       'Ukrainian', 'Angolan', 'Tunisian', 'Greek', 'Zimbabwean',
       'Bahamian', 'Vietnamese', 'Panamanian', 'Canadian Inuit', 'Malian',
       'Filipino'], dtype=object)

In [82]:
boll = arts["Nationality"] == ''

In [83]:
boll

0        False
1        False
2        False
3        False
4        False
         ...
16720    False
16721    False
16722    False
16723     True
16724    False
Name: Nationality, Length: 16725, dtype: bool

In [84]:
boll.sum()

491

In [85]:
arts[bol]

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
31,Untitled,Unknown,,NaN,NaN,Gender Unknown,c. 1925,Photography
90,Bar Tools,Studio Opi,Italian,(1955),NaN,Gender Unknown,1969,Architecture & Design
137,Nations,Slavs and Tatars,,(2005),NaN,Gender Unknown,2007,Prints & Illustrated Books
177,El Frente Popular de Madrid Al Frente Popular ...,J. Briones,Spanish,NaN,NaN,Gender Unknown,1936-1937,Architecture & Design
185,Untitled,Unknown,,NaN,NaN,Gender Unknown,1923-1951,Photography
...,...,...,...,...,...,...,...,...
16664,Untitled,Unknown,,NaN,NaN,Gender Unknown,c. 1960,Photography
16670,Inflatable Armchair,Quasar (Nguyen Manh Khanh),Vietnamese,(1934),NaN,Gender Unknown,1967-1968,Architecture & Design
16688,Poster of the French National Railroad,Album-miscellaneous,Various,NaN,NaN,Gender Unknown,1900-1943,Architecture & Design
16702,Salon de la Plume,Unknown,Nationality Unknown,NaN,NaN,Gender Unknown,1880-1910,Architecture & Design
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,,NaN,NaN,Gender Unknown,1931,Prints & Illustrated Books

In [86]:
arts.loc[boll,"Nationality"] = "Nationality Unkown"

In [87]:
arts["Nationality"].unique()

array(['American', 'Spanish', 'French', 'South African', 'Canadian',
       'Czech', 'Belgian', 'Russian', 'British', 'German',
       'Nationality Unkown', 'Swiss', 'Polish', 'Japanese', 'Portuguese',
       'Austrian', 'Australian', 'Italian', 'Chilean', 'Colombian',
       'Mexican', 'Brazilian', 'Dutch', 'Romanian', 'Venezuelan',
       'Korean', 'Israeli', 'Argentine', 'Indian', 'Nationality unknown',
       'Swedish', 'Yugoslav', 'Cuban', 'Nationality Unknown', 'Various',
       'Luxembourgish', 'Croatian', 'Bulgarian', 'Hungarian', 'Georgian',
       'Puerto Rican', 'Danish', 'Serbian', 'Pakistani', 'Ecuadorian',
       'Chinese', 'Iranian', 'Finnish', 'Lebanese', 'Thai', 'Cambodian',
       'Scottish', 'Kenyan', 'Latvian', 'Sudanese', 'Uruguayan',
       'Peruvian', 'New Zealander', 'Moroccan', 'Guatemalan',
       'Cameroonian', 'Egyptian', 'Nigerian', 'Icelandic', 'Haitian',
       'Tajik', 'Irish', 'Norwegian', 'Costa Rican', 'Slovenian',
       'Turkish', 'Mozambican', 'Palestinian', 'Ukrainian', 'Angolan',
       'Tunisian', 'Greek', 'Zimbabwean', 'Bahamian', 'Vietnamese',
       'Panamanian', 'Canadian Inuit', 'Malian', 'Filipino'], dtype=object)

In [88]:
arts

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,American,(1947),(2013),Female,1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,Spanish,(1916),(2007),Male,1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,French,(1870),(1943),Male,1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,French,(1861),(1944),Male,1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,French,(1857),(1927),Male,1903,Photography
...,...,...,...,...,...,...,...,...
16720,Oval with Points,Henry Moore,British,(1898),(1986),Male,1968-1969,Painting & Sculpture
16721,"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,Chilean,(1942),NaN,Male,1975,Architecture & Design
16722,The Catboat,Edward Hopper,American,(1882),(1967),Male,1922,Prints & Illustrated Books
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,Nationality Unkown,NaN,NaN,Gender Unknown,1931,Prints & Illustrated Books
16724,Plate (page 11) from The Dive,Alex Katz,American,(1927),NaN,Male,2011,Prints & Illustrated Books

In [89]:
arts["BeginDate"]

0        (1947)
1        (1916)
2        (1870)
3        (1861)
4        (1857)
          ...
16720    (1898)
16721    (1942)
16722    (1882)
16723       NaN
16724    (1927)
Name: BeginDate, Length: 16725, dtype: object

In [90]:
arts["BeginDate"].unique()

array(['(1947)', '(1916)', '(1870)', '(1861)', '(1857)', '(1919)',
       '(1928)', '(1964)', '(1882)', '(1901)', '(1935)', '(1871)',
       '(1894)', '(1955)', '(1878)', '(1927)', '(1936)', '(1867)',
       '(1932)', '(1886)', '(1938)', '(1926)', '(1898)', '(1868)',
       '(1889)', nan, '(1934)', '(1929)', '(1930)', '(1949)', '(1753)',
       '(1973)', '(1902)', '(1933)', '(1893)', '(1887)', '(1925)',
       '(1948)', '(1931)', '(1911)', '(1943)', '(1954)', '(1843)',
       '(1966)', '(1957)', '(1903)', '(1909)', '(1890)', '(1883)',
       '(1945)', '(1864)', '(1904)', '(1915)', '(1958)', '(1877)',
       '(1978)', '(1963)', '(1922)', '(1831)', '(1967)', '(1905)',
       '(1830)', '(1924)', '(1881)', '(1910)', '(1946)', '(1885)',
       '(1917)', '(1923)', '(1900)', '(2005)', '(1884)', '(1913)',
       '(1880)', '(1874)', '(1941)', '(1977)', '(1862)', '(1852)',
       '(1950)', '(1896)', '(1971)', '(1860)', '(1969)', '(1962)',
       '(1912)', '(1921)', '(1914)', '(1895)', '(1982)', '(1906)',
       '(1937)', '(1939)', '(1972)', '(1959)', '(1942)', '(1961)',
       '(1826)', '(1899)', '(1944)', '(1837)', '(1869)', '(1951)',
       '(1975)', '(1908)', '(1974)', '(1891)', '(1940)', '(1820)',
       '(1873)', '(1892)', '(1876)', '(1960)', '(1829)', '(1875)',
       '(1879)', '(1968)', '(1953)', '(1866)', '(1858)', '(1833)',
       '(1840)', '(1822)', '(1918)', '(1965)', '(1952)', '(1802)',
       '(1920)', '(1865)', '(1983)', '(1970)', '(1907)', '(1819)',
       '(1888)', '(2012)', '(1856)', '(1897)', '(1976)', '(1956)',
       '(1816)', '(1746)', '(1849)', '(1801)', '(1832)', '(1844)',
       '(1872)', '(1980)', '(1988)', '(1979)', '(1985)', '(1841)',
       '(1863)', '(1823)', '(1828)', '(1811)', '(1997)', '(1825)',
       '(1836)', '(1848)', '(1834)', '(1815)', '(1859)', '(1992)',
       '(1787)', '(1814)', '(1851)', '(1842)', '(1824)', '(1813)',
       '(1796)', '(1798)', '(1981)', '(1845)', '(2010)', '(1808)',
       '(1853)', '(1996)', '(1855)', '(1827)', '(1839)', '(1812)',
       '(1800)', '(1984)', '(1792)', '(1797)', '(1986)', '(1987)',
       '(1850)', '(1854)', '(1821)'], dtype=object)

In [91]:
arts["BeginDate"].str.replace("(","").str.replace(")","")

C:\Users\rohai\AppData\Local\Temp\ipykernel_35868\1611827576.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  arts["BeginDate"].str.replace("(","").str.replace(")","")

0        1947
1        1916
2        1870
3        1861
4        1857
         ...
16720    1898
16721    1942
16722    1882
16723     NaN
16724    1927
Name: BeginDate, Length: 16725, dtype: object

In [92]:
arts["BeginDate"] = arts["BeginDate"].str.replace("(","").str.replace(")","").astype(float)

C:\Users\rohai\AppData\Local\Temp\ipykernel_35868\4281817214.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  arts["BeginDate"] = arts["BeginDate"].str.replace("(","").str.replace(")","").astype(float)

In [93]:
arts["BeginDate"].unique()

array([1947., 1916., 1870., 1861., 1857., 1919., 1928., 1964., 1882.,
       1901., 1935., 1871., 1894., 1955., 1878., 1927., 1936., 1867.,
       1932., 1886., 1938., 1926., 1898., 1868., 1889.,   nan, 1934.,
       1929., 1930., 1949., 1753., 1973., 1902., 1933., 1893., 1887.,
       1925., 1948., 1931., 1911., 1943., 1954., 1843., 1966., 1957.,
       1903., 1909., 1890., 1883., 1945., 1864., 1904., 1915., 1958.,
       1877., 1978., 1963., 1922., 1831., 1967., 1905., 1830., 1924.,
       1881., 1910., 1946., 1885., 1917., 1923., 1900., 2005., 1884.,
       1913., 1880., 1874., 1941., 1977., 1862., 1852., 1950., 1896.,
       1971., 1860., 1969., 1962., 1912., 1921., 1914., 1895., 1982.,
       1906., 1937., 1939., 1972., 1959., 1942., 1961., 1826., 1899.,
       1944., 1837., 1869., 1951., 1975., 1908., 1974., 1891., 1940.,
       1820., 1873., 1892., 1876., 1960., 1829., 1875., 1879., 1968.,
       1953., 1866., 1858., 1833., 1840., 1822., 1918., 1965., 1952.,
       1802., 1920., 1865., 1983., 1970., 1907., 1819., 1888., 2012.,
       1856., 1897., 1976., 1956., 1816., 1746., 1849., 1801., 1832.,
       1844., 1872., 1980., 1988., 1979., 1985., 1841., 1863., 1823.,
       1828., 1811., 1997., 1825., 1836., 1848., 1834., 1815., 1859.,
       1992., 1787., 1814., 1851., 1842., 1824., 1813., 1796., 1798.,
       1981., 1845., 2010., 1808., 1853., 1996., 1855., 1827., 1839.,
       1812., 1800., 1984., 1792., 1797., 1986., 1987., 1850., 1854.,
       1821.])

In [94]:
arts

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,American,1947.0,(2013),Female,1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,Spanish,1916.0,(2007),Male,1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,French,1870.0,(1943),Male,1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,French,1861.0,(1944),Male,1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,French,1857.0,(1927),Male,1903,Photography
...,...,...,...,...,...,...,...,...
16720,Oval with Points,Henry Moore,British,1898.0,(1986),Male,1968-1969,Painting & Sculpture
16721,"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,Chilean,1942.0,NaN,Male,1975,Architecture & Design
16722,The Catboat,Edward Hopper,American,1882.0,(1967),Male,1922,Prints & Illustrated Books
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,Nationality Unkown,NaN,NaN,Gender Unknown,1931,Prints & Illustrated Books
16724,Plate (page 11) from The Dive,Alex Katz,American,1927.0,NaN,Male,2011,Prints & Illustrated Books

In [95]:
arts.dtypes

Title           object
Artist          object
Nationality     object
BeginDate      float64
EndDate         object
Gender          object
Date            object
Department      object
dtype: object

In [96]:
arts["EndDate"] = arts["EndDate"].str.replace("(","").str.replace(")","").astype(float)

C:\Users\rohai\AppData\Local\Temp\ipykernel_35868\3811473761.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  arts["EndDate"] = arts["EndDate"].str.replace("(","").str.replace(")","").astype(float)

In [97]:
arts["EndDate"].unique()

array([2013., 2007., 1943., 1944., 1927., 1984.,   nan, 1953., 1985.,
       1957., 1972., 1965., 1959., 1969., 1958., 1987., 1976., 1947.,
       1941., 2006., 1998., 1978., 1828., 1988., 1983., 2008., 2011.,
       2010., 1956., 1908., 1996., 1991., 1981., 1982., 2014., 1901.,
       1997., 2004., 2016., 1960., 2000., 1913., 1970., 1904., 1955.,
       1951., 1992., 1933., 2012., 2002., 1974., 1989., 1962., 1938.,
       1948., 1952., 2003., 1930., 1928., 1934., 1966., 1979., 1961.,
       1994., 2018., 1954., 1942., 2017., 1993., 1920., 1949., 1896.,
       1935., 1921., 1946., 1995., 1986., 1925., 1999., 1971., 1884.,
       2009., 1940., 1977., 1964., 1975., 1916., 1963., 2005., 1973.,
       2001., 1919., 2015., 1980., 1898., 1931., 1967., 1950., 1968.,
       1870., 1990., 1918., 1902., 1907., 1882., 1945., 1936., 1894.,
       1887., 1917., 1914., 1883., 1926., 1869., 1871., 1909., 1939.,
       1872., 1932., 1903., 1911., 1910., 1879., 1924., 1923., 1868.,
       1880., 1900., 1891., 1937., 1856., 1851., 1915., 1875., 1863.,
       1922., 1906., 1886., 1895., 1867., 1878., 1877., 1890., 1929.,
       1885.])

In [98]:
arts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16725 entries, 0 to 16724
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        16724 non-null  object
 1   Artist       16725 non-null  object
 2   Nationality  16725 non-null  object
 3   BeginDate    15786 non-null  float64
 4   EndDate      10474 non-null  float64
 5   Gender       16725 non-null  object
 6   Date         16725 non-null  object
 7   Department   16725 non-null  object
dtypes: float64(2), object(6)
memory usage: 1.0+ MB

In [99]:
bad_chr = ["(", ")", "c", "C", ".", "s", " ", "'"]

In [100]:
len(bad_chr)

8

In [101]:
date = "(c. 1947's)"

for i in bad_chr:
    date = date.replace(i, "")

In [102]:
date

'1947'

In [103]:
def remove_bad_chr(date): # putting the above 2 cells into a function and then calling it
    bad_chr = ["(", ")", "c", "C", ".", "s", " ", "'"]
    for i in bad_chr:
        date = date.replace(i, "")
    return date

In [104]:
remove_bad_chr(date)

'1947'

In [110]:
remove_bad_chr("sc1978.'s")

'1978'

In [111]:
arts.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,American,1947.0,2013.0,Female,1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,Spanish,1916.0,2007.0,Male,1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,French,1870.0,1943.0,Male,1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,French,1861.0,1944.0,Male,1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,French,1857.0,1927.0,Male,1903,Photography

In [112]:
arts["Date"].unique()

array(['1986', '1978', '1889-1911', ..., '1936-1938', '(c. 1955-1959)',
       'c. 1919-1920'], dtype=object)

In [113]:
arts["Date"].apply(remove_bad_chr)

0             1986
1             1978
2        1889-1911
3        1927-1940
4             1903
           ...
16720    1968-1969
16721         1975
16722         1922
16723         1931
16724         2011
Name: Date, Length: 16725, dtype: object

In [114]:
arts["Date"].unique()

array(['1986', '1978', '1889-1911', ..., '1936-1938', '(c. 1955-1959)',
       'c. 1919-1920'], dtype=object)

In [115]:
arts["Date"] = arts["Date"].apply(remove_bad_chr)

In [116]:
arts

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,American,1947.0,2013.0,Female,1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,Spanish,1916.0,2007.0,Male,1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,French,1870.0,1943.0,Male,1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,French,1861.0,1944.0,Male,1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,French,1857.0,1927.0,Male,1903,Photography
...,...,...,...,...,...,...,...,...
16720,Oval with Points,Henry Moore,British,1898.0,1986.0,Male,1968-1969,Painting & Sculpture
16721,"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,Chilean,1942.0,NaN,Male,1975,Architecture & Design
16722,The Catboat,Edward Hopper,American,1882.0,1967.0,Male,1922,Prints & Illustrated Books
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,Nationality Unkown,NaN,NaN,Gender Unknown,1931,Prints & Illustrated Books
16724,Plate (page 11) from The Dive,Alex Katz,American,1927.0,NaN,Male,2011,Prints & Illustrated Books

In [117]:
arts["Date"].unique()

array(['1986', '1978', '1889-1911', '1927-1940', '1903', '1957', '1924',
       '1978-1983', '2001', '1941', '1949-1950', '1963', '1908-1911',
       '1934', '1997', '1931-1933', '1972', '1967', '1923-1924', '1979',
       '1925-1927', '1929', '1974', '1920-1930', '1915', '1912',
       '1988-1990', '1925', '1980', '1964', '1968', '1969', '1953',
       '1971', '1988', '1818', '2002', '1926', '1914', '1966', '1904',
       '1949', '1981', '1970', '1923-1925', '1932', '1928', '1965',
       '2003', '1971-1974', '1983', '1930', '1946', '1984', '2006',
       '1885', '1942', '1913', '2015', '1987', '1947-1949', '1961',
       '1916-1932', '1962', '1944', '1991', '1991-1994', '2008', '1975',
       '1893', '1968-1969', '1964-1968', '1928-1939', '1955', '1955-1960',
       '1922', '1914-1918', '2012', '1865', '1976', '1902', '2010',
       '1875', '1948', '1990', '1958', '1921', '1950', '2004', '1973',
       '1982', '1960', '1939', '1952', '2007', '1933-1947', '1995',
       '1908', '1936', '2005', '1933', '1956', '1910', '1968-1977',
       '1919-1920', '1923-1948', '1912-1926', '1905', '1918', '1907',
       '1926-1946', '1999', '1936-1937', '2011', '1978-1979', '1951',
       '1965-1966', '1923-1951', '1900-1910', '1992', '1931-1956', '1989',
       '1927', '1940', '1900', '2013', '1899-1900', '1985-1986', '1998',
       '2000', '1916', '2009', '1872-1927', '1913-1921', '1826-1896',
       '1926-1938', '1962-1963', '1919', '1970-1971', '1959-1965', '1877',
       '1921-1922', '1947-1955', '1881', '1953-1954', '1943-1981', '1994',
       '1977', '1971-1973', '1955-1956', '1911-1950', '1920', '1946-1949',
       '1947', '1946-1947', '1938', '1996', '1970-1972', '1943', '1935',
       '1900-1953', '2008-2010', '1917', '1857', '1931', '1989-1990',
       '1999-2001', '1962-1965', '1959', '1993', '1985', '1923',
       '1930-1931', '1979-1984', '1938-1960', '1861', '1998-2003',
       '1977-1978', '1997-2000', '1908-1950', '1945', '1906-1912',
       '1975-1976', '1900-1943', '1951-1952', '1937-1938', '1898',
       '1985-1990', '1911', '1914-1920', '1899', '1916-1923', '1937',
       '1950-1953', '1954', '1893-1896', '1960-1963', '1950-1952', '1887',
       '1873', '1939-1945', '1975-1986', '1860', '1901', '2013-2014',
       '1954-1958', '1919-1921', '1946-1972', '1984-1985', '1858-1860',
       '1939-1943', '1967-1968', '1893-1894', '1843-1847', '1944-1945',
       '1909', '1992-2000', '1931-1937', '1998-2009', '1976-1977',
       '1946-1948', '1927-1943', '1864-1865', '1969-1971', '1983-1984',
       '2002-2003', '1967-1969', '2004-2005', '1927-1952', '1972-1973',
       '1937-1939', '1954-1957', '1928-1930', '2004-2006', '2001-2003',
       '1924-1926', '1970-1996', '2001-2008', '1874', '1905-1906',
       '1939-1941', '1897', '1969-1970', '1911-1912', '2002-2005', '2014',
       '1957-1990', '1983-1986', '1927-1937', '1871', '1948-1949',
       '1967-1998', '1941-1948', '1930-1941', '1915-1919', '1964-1965',
       '1895', '1967-1988', '1961-1965', '1888', '1968-1974', '1914-1958',
       '1973-1974', '1925-1926', '1942-1948', '1975-1979', '1904-1905',
       '1957-1961', '1960-1961', '1913-1942', '2016', '1948-1951',
       '1982-1983', '1966-1967', '1966-1968', '1936-1942', '1979-1980',
       '1947-1958', '1840', '1972-1975', '1941-1945', '1943-1947',
       '1911-1931', '1934-1944', '1958-1964', '1979-1981', '1990-1992',
       '1913-1923', '1932-1933', '1906-1907', '1989-1993', '2000-2001',
       '1956-1957', '1868', '1942-1950', '1853-1860', '2003-2004',
       '1965-1968', '1980-1981', '1985-1987', '1945-1946', '1985-1988',
       '1963-1965', '1963-1964', '1865-1871', '1906', '1810-1863',
       '1893-1903', '1900-1939', '1852', '1910-1911', '1974-1975', '1889',
       '1971-1972', '1842-1850', '1896', '1920-1950', '1934-1935',
       '1916-1941', '1854', '1944-1965', '1863', '1927-1930', '1896-1897',
       '1894', '1938-1940', '1970-1973', '1902-1903', '1926-1927',
       '1925-1929', '1980-1985', '1920-1923', '1919-1922', '1855',
       '1983-1997', '1797-1799', '1946-1951', '1988-1995', '1943-1953',
       '1859-1860', '1967-1972', '1926-1931', '1982-2006', '1990-1991',
       '1929-1931', '1900-1949', '1974-1980', '1960-1965', '1998-2008',
       '1919-1923', '1882', '1952-1953', '1964-1966', '1977-1980',
       '1858-1941', '1888-1889', '1922-1926', '1966-1975', '1948-1950',
       '1951-1955', '1968-1981', '2017', '1943-1959', '1989-1994',
       '1995-2003', '1965-1967', '1898-1899', '1980-1996', '1850',
       '1931-1932', '1891', '1922-1923', '1859', '1860-1870', '1933-1934',
       '1950-1967', '2001-2004', '1916-1918', '1914-1917', '1900-1945',
       '1920-1933', '1969-1972', '1932-1934', '1991-1992', '1978-1980',
       '1915-1920', '1919-1925', '1861-1865', '1869', '1930-1940',
       '1915-1922', '1920-1922', '1943-1950', '1940-1954', '1921-1923',
       '1963-2003', '1961-1969', '1849-1851', '1939-1944', '1930-1932',
       '1912-1927', '1942-1945', '1880-1900', '1876', '1920-1925',
       '1908-1924', '1942-1946', '1967-1971', '1926-1936', '1969-1973',
       '1929-1932', '1972-1974', '1934-1951', '1962-1975', '1927-1928',
       '1884-1886', '1948-1968', '1983-1985', '1925-1966', '1918-1919',
       '1920-1961', '1899-1927', '1908-1909', '2005-2006', '1895-1896',
       '1935-1945', '1962-1966', '1950-1955', '1997-1998', '1890',
       '1995-1999', '1907-1908', '1903-1904', '1919-1958', '1971-1975',
       '1980-1984', '1944-1948', '1901-1902', '1951-1956', '1903-1906',
       '1900-1950', '1998-1999', '2011-2012', '1973-1979', '2009-2011',
       '1944-1953', '1914-1940', '1962-1964', '1945-1951', '1980-1983',
       '2010-2011', '1924-1929', '1913-1914', '1957-1958', '1890-1896',
       '1917-1918', '1920-1924', '1957-1960', '1928-1929', '1892',
       '1975-1977', '1958-1987', '1906-1941', '1917-1919', '2001-2002',
       '1978-1984', '1900-1944', '1947-1964', '1939-1940', '1940-1943',
       '1853', '1904-1907', '1943-1972', '1981-1982', '1816-1904',
       '1950-1951', '1996-2004', '1952-1968', '1935-1938', '1900-1936',
       '1954-1955', '1982-1985', '1855-1856', '1900-1941', '1973-1976',
       '1989-2003', '1961-1964', '1840-1851', '1927-1931', '1894-1961',
       '1872', '1924-1927', '1938-1939', '1949-1982', '2005-2007',
       '1896-1906', '1900-1959', '1973-1978', '1941-1960', '1904-1912',
       '1900-1954', '1947-1948', '1999-2000', '1923-1952', '1939-1942',
       '1910-1914', '2005-2008', '2002-2008', '1940-1941', '1950-1956',
       '1855-1869', '1903-1908', '1933-1937', '1988-1989', '1905-1914',
       '1945-1947', '1944-1947', '1931-1967', '1980-1906', '1995-2002',
       '1962-1983', '1968-1972', '1929-1930', '1870-1879', '1916-1917',
       '1966-1970', '1858', '1957-1965', '1938-1941', '1930-1933',
       '1920-1968', '1922-1943', '1980-1987', '1936-1941', '1943-1945',
       '1913-1918', '1805', '2018', '1959-1960', '1967-1975', '1895-1898',
       '2003-2007', '1958-1959', '1959-1973', '1987-1988', '1867-1875',
       '1856-1857', '1980-1982', '1981-1985', '1961-1962', '1811',
       '1968-1970', '1960-1970', '2006-2008', '1958-1965', '1991-2012',
       '2008-2009', '1851', '1974-1977', '1917-1945', '1960-1967',
       '1880-1910', '1900-1964', '1825-1828', '1959-1962', '1938-1959',
       '1883', '1912-1916', '1855-1860', '1926-1932', '1914-1915',
       '1963-1971', '1915-1917', '2000-2003', '1994-1999', '1940-1955',
       '1986-1987', '1925-1928', '1953-1957', '1937-1959', '1894-1896',
       '2001-2007', '1945-1950', '1933-1935', '1996-1997', '1969-1974',
       '1900-1901', '1920-1921', '2012-2013', '1853-1854', '1900-1952',
       '1988-1992', '1922-1925', '1971-1978', '1837-1852', '1900-1967',
       '1923-1977', '1910-1915', '1914-1953', '2008-2015', '1932-1966',
       '1978-1981', '2006-2010', '1949-1953', '1890-1895', '1965-1980',
       '1914-1916', '1860-1920', '1948-1981', '1871-1927', '1926-1930',
       '1989-1991', '2007-2009', '1914-1925', '1998-2004', '1860-1926',
       '1924-1925', '1990-1997', '1919-1959', '1941-1944', '1900-1937',
       '1912-1914', '1994-1997', '1993-1994', '1900-1903', '1856',
       '1976-1987', '1933-1946', '1933-1958', '1866-1902', '1914-1942',
       '1952-1954', '1927-1929', '1912-1920', '1947-1953', '1992-1993',
       '1935-1958', '1850-1855', '1998-2014', '1864', '1832', '1943-1944',
       '1906-1909', '1987-1989', '1999-2002', '1957-1959', '1964-1967',
       '1860-1869', '1973-1975', '1963-1966', '2007-2008', '1990-1994',
       '1900-1947', '2003-2005', '1970-1988', '1855-1898', '1949-1951',
       '1997-1999', '1986-1989', '1911-1914', '1960-1962', '1909-1910',
       '1970-1982', '1852-1857', '1888-1895', '1900-1906', '1908-1951',
       '1963-1967', '1900-1961', '1920-1929', '1982-1984', '1974-1984',
       '1949-1963', '1982-1986', '1900-1958', '1967-1987', '1935-1959',
       '1858-1870', '1981-1984', '1878-1884', '1923-1928', '1999-2003',
       '1904-1921', '1900-1904', '1856-1858', '1979-1982', '1837',
       '1865-1875', '1994-1996', '1940-1960', '1884', '1948-1952',
       '1930-1935', '1987-1991', '1978-1988', '1866', '1878', '1997-2003',
       '1925-1930', '1870', '1942-1944', '2003-2009', '1844', '1854-1857',
       '1880', '1949-1952', '1920-1928', '1977-1979', '1932-1958',
       '1900-1938', '1843-1848', '1989-2001', '1979-1983', '1895-1900',
       '1989-1999', '1900-1965', '1849', '1961-1971', '1858-1866',
       '1970-1975', '1959-1967', '1870-1880', '1959-1964', '1897-1902',
       '1985-1989', '1869-1875', '1962-1968', '1976-1979', '1987-1992',
       '1942-1943', '1935-1936', '1950-1960', '2006-2007', '1995-2007',
       '1902-1904', '1926-1928', '1886', '1945-1948', '1936-1938',
       '1955-1959'], dtype=object)

In [118]:
new_date = "1997-2000"

lst = new_date.split("-")
lst

['1997', '2000']

In [120]:
year1 = lst[0]
year2 = lst[1]

In [121]:
year1 = int(year1)
year2= int(year2)

new_year = (year1 + year2)/2

In [122]:
new_year

1998.5

In [123]:
round(new_year)

1998

In [124]:
arts["Date"]

0             1986
1             1978
2        1889-1911
3        1927-1940
4             1903
           ...
16720    1968-1969
16721         1975
16722         1922
16723         1931
16724         2011
Name: Date, Length: 16725, dtype: object

In [129]:
def latest_date(date):
    if "-" in date:
        lst = new_date.split("-")
        year1 = int(lst[0])
        year2 = int(lst[1])
        date = round((year1 + year2)/2)
    else:
        date = int(date)
    return date

In [130]:
latest_date("1997-2000")

1998

In [131]:
latest_date("2000")

2000

In [132]:
arts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16725 entries, 0 to 16724
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        16724 non-null  object
 1   Artist       16725 non-null  object
 2   Nationality  16725 non-null  object
 3   BeginDate    15786 non-null  float64
 4   EndDate      10474 non-null  float64
 5   Gender       16725 non-null  object
 6   Date         16725 non-null  object
 7   Department   16725 non-null  object
dtypes: float64(2), object(6)
memory usage: 1.0+ MB

In [133]:
arts["Date"].apply(latest_date)

0        1986
1        1978
2        1998
3        1998
4        1903
         ...
16720    1998
16721    1975
16722    1922
16723    1931
16724    2011
Name: Date, Length: 16725, dtype: int64

In [134]:
arts["Date"] = arts["Date"].apply(latest_date)

In [135]:
arts.to_csv("cleaned_modern_arts.csv")